<!DOCTYPE html>
<html lang="en-us"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Huobi Global</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
    <meta content="Huobi Global" name="description">
    <meta content="Huobi Global" name="keywords">
    <meta content="on" http-equiv="x-dns-prefetch-control">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="telephone=no" name="format-detection">
</head>
<body>
    <div style="position: fixed;width: 100%;text-align: center;font-size: 16px;color: #333;top: 20%;">welcome</div>
    <script type="text/javascript">
        setTimeout(function(){
            window.location.href = '/static/templates/phone/index.html';
        },1000)
    </script>
</body>
</html>